{% extends 'admin/layout.twig' %}

{% block title 'Projects' %}


{% block content %}
<div class="col-lg-12">
    <h1 class="text-primary">Create new article</h1>
</div>
<div class="col-lg-12  well">
    {{ form(form) }}
</div>

{% endblock %}
