<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Theme Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('/min.css','css') }}" rel="stylesheet" media="all"/>
</head>

<body role="document">

<!-- Fixed navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">Brand</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="javascript:void(0)">Active</a></li>
                <li><a href="javascript:void(0)">Link</a></li>
                <li class="dropdown">
                    <a href="http://fezvrasta.github.io/bootstrap-material-design/bootstrap-elements.html" data-target="#"
                       class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)">Action</a></li>
                        <li><a href="javascript:void(0)">Another action</a></li>
                        <li><a href="javascript:void(0)">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Dropdown header</li>
                        <li><a href="javascript:void(0)">Separated link</a></li>
                        <li><a href="javascript:void(0)">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <input type="text" class="form-control col-lg-8" placeholder="Search">
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:void(0)">Link</a></li>
                <li class="dropdown">
                    <a href="http://fezvrasta.github.io/bootstrap-material-design/bootstrap-elements.html" data-target="#"
                       class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)">Action</a></li>
                        <li><a href="javascript:void(0)">Another action</a></li>
                        <li><a href="javascript:void(0)">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class=" container-fluid">
    <div class="col-lg-12">
        <h1 class="text-primary">Create new article</h1>
    </div>
    {#<div class="col-lg-2 ">#}
    {#jkh#}
    {#</div>#}
    <div class="col-lg-12  ">
        <form class="form-horizontal well">
            <fieldset>
                {#<div class="form-group">#}
                    {#<div class="col-lg-10 col-lg-offset-2">#}
                        {#<legend>Create new article</legend>#}
                    {#</div>#}
                {#</div>#}


                <div class="form-group">
                    <label for="inputTitle" class="col-lg-2 control-label">Title</label>

                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputTitle" placeholder="Title">
                    </div>
                </div>

                <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">Article</label>

                    <div class="col-lg-10">
                        {#<textarea class="form-control" rows="3" id="textArea"></textarea>#}
                        <textarea placeholder="Start write!" class="form-control" id="textArea" name="content" data-provide="markdown"
                                  rows="20"></textarea>

                        {#<span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>#}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Radios</label>

                    <div class="col-lg-10">
                        <div class="radio radio-primary">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                Option one is this
                            </label>
                        </div>
                        <div class="radio radio-primary">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                Option two can be something else
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group datetime">
                    <label for="inputDate" class="col-lg-2 control-label ">Date</label>

                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputDate" placeholder="Date"  data-provide="datetimepicker">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('/min.js','js') }}"></script>
<script>

//    $('.form-date input').datepicker({autoclose: true, todayHighlight: true});
    $('.datetime input').datetimepicker(
            {locale: 'en-gb'}
    );

</script>

</body>
</html>
